.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-vibes1 {
  width: 48px;
  height: 32px;
  background-position: 0 0;
}
.icon-vibesimage-6344275-1 {
  width: 45px;
  height: 32px;
  background-position: -96px 0;
}
.icon-vibesstar-10 {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}

