<section class="about">
	<div class="container about-container">
		<div class="about-wrap">
			<h2 class="title-about">About Us</h2>
			<p class="text-about">
				The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
				vyshyvanka comes to life with new zest and style. Our store offers a
				wide selection of high-quality and authentic embroidery, which combines
				the elegance of traditional needlework and modern design.
			</p>
			<p class="text-about">
				In "Vyshyvanka Vibes" you will find various models of embroidery, from
				classic to modern, corresponding to the latest fashion trends. Our
				embroidery is made using natural fabrics and is embroidered by highly
				qualified craftsmen who convey the beauty of Ukrainian culture in every
				detail.We believe that vyshyvanka is not just clothing, but a symbol of
				national pride, the heritage of our ancestors and a way of expressing
				one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
				unique history and symbolism, which gives it a special meaning.
			</p>
		</div>
		<picture>
			<source srcset="./img/about/about-desktop-1x.jpg 1x, ./img/about/about-desktop-2x.jpg 2x"
				media="(min-width: 1440px)" />
			<source srcset="./img/about/about-desktop-1280-1x.png 1x, ./img/about/about-desktop-1280-2x.png 2x"
				media="(min-width: 1280px)" />
			<source srcset="./img/about/about-tablet-1x.jpg 1x, ./img/about/about-tablet-2x.jpg 2x"
				media="(min-width: 768px)" />
			<source srcset="./img/about/about-mobile-1x.jpg 1x, ./img/about/about-mobile-2x.jpg 2x"
				media="(max-width: 767px)" />
			<img class="about-img" src="./img/about/about-mobile-1x.jpg" alt="embroidered shirt" width="709"
				height="545" />
		</picture>
	</div>
</section>