<footer class="bkg-img">
  <div class="conteiner footer-container ">
    <ul class="footer-list footer-list-text">
      <li class="li-class li-class-text">
      About us
      </li>
      <li class="li-class li-class-text">
      <a class="footer-link" href="#ourcollection">Our collection</a>
      </li>
      <li class="li-class li-class-text">
        <a class="footer-link" href="#yourorder">Customer order</a>
      </li>
      <li class="li-class li-class-text">
        <a class="footer-link" href="#Testimonials">Testimonials</a>
      </li>
    </ul>
  </div>
  <div class="conteiner-text">
    <h2 class="main-text">
      A touch of <span class="color-text">Ukrainian</span><span class="spacer">&nbsp;</span> culture in every embroidery
    </h2>
  </div>
</footer>
