<footer class="bkg-img">
	<div class="container footer-container ">
		<ul class="footer-list">
			<li class="li-class"><a class="footer-link" href="#about">About us</a>
			</li>
			<li class="li-class">
				<a class="footer-link" href="#order">Customer order</a>
			</li>
			<li class="li-class">
				<a class="footer-link" href="#collection">Our collection</a>
			</li>
			<li class="li-class">
				<a class="footer-link" href="#testimonials">Testimonials</a>
			</li>
		</ul>
		<div class="conteiner-text">
			<h2 class="main-text">
				A touch of <span class="color-text">Ukrainian</span> culture in every
				embroidery
			</h2>
		</div>
	</div>

</footer>