<footer class="footer-bkg">
<div class="footer-container ">
    <ul class="footer-list">
        <li class="li-class">
            About us
        </li>
        <li class="li-class">
          Our collection
        </li>
        <li class="li-class">
          Customer order
        </li>
        <li class="li-class">
            Testimonials
        </li>
    </ul>
    </div>
    <div class="conteiner-text">
    <h2 class="main-text">
        A touch of <span class="color-text">Ukrainian</span>&nbsp;culture in every embroidery
 </h2>
    </div>
    <div class="footer-bkg">
<img class="footer-img" srcset="./img/footer-elements-mobile-1x.jpg">
</div>
</div>
</footer>