<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vyshyvanka-Vibes</title>
    
    <link  href="src/css/styles.css"  rel="stylesheet">
    
    
</head>
<body>

    
      
    
    <main>
      <section class="hero">
        <div class="container container-hero">
          <div class="hero-title-parth-zero">
            
            <div class="hero-title-parth-one">

                <div class="hero-title ">
                    <h1 class="hero-text">Reviving the traditional <span class="title-span">Ukrainian</span> artistry in every stitch.</h1>
                  <button class="title-button" type="submit">
                    Order 
                    <svg class="icon-btn" width="26px"
                    height="10px">
                      <use href="./img/hero-icon/symbol-defs.svg#icon-vibes1"></use>
                    </svg>
                  </button>
                </div>
              <div class="hero-image"></div>
            </div>
            <div class="hero-title-parth-two">
                <div class="hero-star">
                  <svg class="hero-icon" width="52px"
                  height="52px">
                    <use  href="./img/hero-icon/symbol-defs.svg#icon-vibesstar-10">
                    </use>
                  </svg>
                  <p class="hero-startext">all embroidery is made by hand</p>
                </div>
                
                
                <div class="small-ima"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>

</body>
</html>