
 
      <section class="hero">
        <div class="container container-hero">
          <div class="hero-title-parth-zero">
            
            <div class="hero-title-parth-one">

                <div class="hero-title ">
                    <h1 class="hero-text">Reviving the aditional <span class="title-span">Ukrainian</span> artistry in every stitch.</h1>
                  <button class="title-button" type="submit">
                    Order 
                    <svg class="icon-btn" width="26px"
                    height="10px">
                      <use href="./img/hero-icon/symbol-defs.svg#icon-vibes1"></use>
                    </svg>
                  </button>
                </div>
              <div class="hero-image"> <img src="./img/girl-1440.jpg"
                srcset="./img/girl-m.jpg 1x  , ./img/girl-t.jpg  2x"></div>
            </div>
            <div class="hero-title-parth-two">
                
              <div class="hero-star">
                 <img src="./img/Star 10.jpg">
                  <p class="hero-startext">all embroidery is made by hand</p>
                </div>
                <div class="small-ima"><img src="./img/cofta.jpg"></div>
            
              </div>
          </div>
        </div>
      </section>
