<section class="hero">
	<div class="container hero-container">
		<div class="hero-title-parth-zero">
			<div class="hero-title-parth-one">
				<div class="hero-title ">
					<h1 class="hero-text">
						Reviving the traditional
						<span class="title-span">Ukrainian</span> artistry in every stitch.
					</h1>
					<a class="title-button" href="#order">
						Order
						<svg class="icon-btn" width="26px" height="22px">
							<use href="./img/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
				<picture class="hero-image">
					<source srcset="./img/hero/girl-1440.jpg 1x, ./img/hero/girldesk-2x.jpg 2x"
						media="(min-width:1280px)">
					<source srcset="./img/hero/girl-t.jpg 1x, ./img/hero/girltab-2x.jpg 2x" media="(min-width:768px)">
					<source srcset="./img/hero/girl-m.jpg 1x, ./img/hero/girlmob-2x.jpg 2x" media="(max-width:767px)">
					<img src="../img/hero/girl-m.jpg" alt="girl" width="335" height="545">
				</picture>
			</div>
			<div class="hero-title-parth-two ">
				<div class="hero-star">
					<img class="star-img" src="./img/hero/star.jpg" alt="star" width="50" height="50">
					<p class="hero-startext">all embroidery is made by hand</p>
				</div>
				<div class="small-ima">
					<img src="./img/hero/cofta.jpg" alt="image with a map " width="140" height="100">
				</div>
			</div>
		</div>
	</div>
</section>