<section class="order-section">
  <div class="container order-container">
    <div class="order-img">
      <img
        src="./../img/order-img.jpg"
        alt="ukrainian brand jacket"
        width="524"
        height="521"
      />
    </div>
    <div class="order-wrap">
      <h2 class="order-title">
        <span class="order-title_marked-words">Your order</span> is our
        priority: Personalized approach and quality of service
      </h2>
      <form class="order-form">
        <input
          type="text"
          class="order-username input-style"
          placeholder="Enter your full name"
          pattern="[a-z]{2-15}"
          required
        />
        <input
          class="order-email input-style"
          type="email"
          placeholder="Enter your email"
          required
        /><textarea
          placeholder="Comments"
          name="comments"
          class="order-textarea input-style"
          type="submit"
        ></textarea>
        <button type="submit" class="order_send-btn">
          send<svg>
            <use></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
