.container {
    max-width: 375px;
    
}

.about {
    padding: 80px 20px;
    background-image: url(../img/about-background.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: right bottom 2%;
}

.title-about {
    color: #FCF9F9;
font-size: 32px;
font-weight: 500;
line-height: 1.38;
letter-spacing: -0.03em;
margin-bottom: 40px;
}

.text-about {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
}

.the-store {
    margin-bottom: 20px;
}

.about-img {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {

    .container {
      max-width: 768px;
      padding: 100px 32px
    }

    .about-img {
        margin-top: 40px;
    }

    .about {
        background-position: right bottom 8%;
}
}

@media screen and (min-width: 1280px) {

    .container {
      max-width: 1280px;
      padding: 150px 100px;
    }

    .about-container {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .text-about {
        max-width: 436px;
    }

    .about-img {
        margin-top: 0px;
    }
}