.footer-list{
    display: flex;
    gap: 25px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    margin-bottom: 40px;
    }
    @media (min-width: 320px) and (max-width:767px) {
.li-class{
    display: block;
    font-size: 14px;
    color: #FCF9F9;
    font-weight: 400;
    line-height: 1.2; /* 128.571% */
    text-transform: uppercase;
    width: calc((100% - 25px) /2);
    margin-right: 0;
    flex-wrap: wrap;
}      
}
.li-class:hover,
.li-class:focus{
 color: var(--yellow, #ECD979);
}
.footer-container{
    width: 375px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.conteiner-text{
 max-width: 375px;   
margin-bottom: 80px;
padding-left: 20px;
}
.main-text{
width: 335px;
color: #FCF9F9;
font-size: 44px;
font-weight: 400;
line-height: 1.2; /* 122.727% */
letter-spacing: -0.03em;
}
.color-text{
color: #ECD979;
}
.bkg-img{
    width:375px;
    background-image: url(../img/footer-elements-mobile-1x.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 150%;
    background-color: #1C2225;
    
}
@media (min-resolution: 192dpi){
    .bkg-img{
        background-image: url(../img/footer-elements-mobile-@2x.png);
    }
} 



/*TABLET*/


@media (min-width: 768px){
    .footer-list{
        display: none;
    } 
    .footer-list-text{
        display:flex;
       flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 80px;
        justify-content: left;
    }

    .li-class-text{
        display: block;
        width: none;
        font-size: 14px;
        color: #FCF9F9;
        font-weight: 400;
        line-height: 1.2; /* 128.571% */
        text-transform: uppercase;
    }
    .footer-container{
        width:768px;
        padding-left: 32px;
    }
    .conteiner-text{
        min-width:768px ;
        padding-top: 0;
         padding-left: 32px;
         padding-bottom: 0;
     }
     .main-text{
        width: 521px;
        font-size: 54px; 
    }
       .bkg-img{
        background-image: url(../img/footer-elements-tablet-1x.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: #1C2225;
        padding-bottom: 0;
        padding-right: 100%;
        height: 401px;
       }
    @media (min-resolution: 192dpi){
        .bkg-img{
            background-image: url(../img/footer-elements-tablet-@2x.png);
        }
    } 
}


/*DESKTOP 1280*/

@media (min-width: 1280px){
    .footer-container{
        width:1280px;
        padding-left: 100px;
    }
    .main-text{
        width: 754px;
        font-size: 64px; 
        margin-right: 90px;
    }
    .conteiner-text{
        min-width:754px ;
        padding-top: 0;
         padding-left: 100px;
         padding-bottom: 0;
         padding-bottom:40px;
         margin-bottom: 0;
     
     }

.footer-list-text{
        display:flex;
       flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: left;
        margin-bottom: 117px;
    }
    .bkg-img{
        background-image: url(../img/footer-elements-desktop1280-1x.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-color: #1C2225;
        padding-bottom: 0;
        height: 528px;
       }
    @media (min-resolution: 192dpi){
        .bkg-img{
            background-image: url(../img/footer-elements-desktop1280-@2x.png);
        }
    } 
}

/*DESKTOP 1440*/

@media (min-width: 1440px){
   
    .footer-container{
        width:1440px;
    }
     .bkg-img{
        background-image: url(../img/footer-elements-desktop1440-1x.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-color: #1C2225;
        padding-bottom: 0;
        height: 528px;
       }
    @media (min-resolution: 192dpi){
        .bkg-img{
            background-image: url(../img/footer-elements-desktop1440-@2x.png);
        }
    } 
} 










/*@media screen and (min-width: 768px){
.text-maine{
    max-width: 768px;
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/retina-w/tablet.jpg");
   }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
       screen and (min-resolution: 2dppx) and (min-width: 768px),
       screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        
    }

@media screen and (min-width: 1158px){
    .text-maine{
        padding-top:188px ;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/retina-w/desktop.jpg");
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
       screen and (min-resolution: 2dppx) and (min-width: 1158px),
       screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
        .text-maine{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/retina-w/desktop@2x.jpg");
       }
    }*/


