.footer-list{
    display: flex;
    column-gap: 25px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .footer-list{
        display: none;
    }
}
    @media (min-width: 768px) {  
    .footer-list-text{
        display:inline-flex;
        gap:25px;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 80px;
    }
}
.li-class{
    display: block;
    font-size: 14px;
    color: #FCF9F9;
    font-weight: 400;
    line-height: 1.2; /* 128.571% */
    text-transform: uppercase;
    width: calc((100% - 25px) /2);
    margin-right: 0;
}
@media (min-width: 768px) {
    .li-class{
     display: none;
    }
}
@media (min-width: 768px){
    .li-class-text{
        display: block;
        align-items: flex-start;
        width: none;
        gap:25px;
        font-size: 14px;
        color: #FCF9F9;
        font-weight: 400;
        line-height: 1.2; /* 128.571% */
        text-transform: uppercase;
        
    }
}      
.li-class:hover,
.li-class:focus{
 color: var(--yellow, #ECD979);
}
.footer-container{
    width: 375px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px){
    .footer-container{
        width:768px;
        padding-left: 32px;
        
    }
}
.conteiner-text{
    width: 335px;
    padding-bottom: 80px;
    padding-left: 20px;
}
@media (min-width: 768px){
    .conteiner-text{
        width: 521px;
        padding-top: 0;
        padding-left: 32px;
        padding-bottom: 0;
    }
}

.main-text{
color: #FCF9F9;
font-size: 44px;
font-weight: 400;
line-height: 1.2; /* 122.727% */
letter-spacing: -1.32px;
}
@media (min-width: 768px){
    .main-text{
     font-size: 54px; 
     line-height:1.18;
     letter-spacing: -1.62px; 
    }
}

.color-text{
color: #ECD979;
}

.footer-bkg-img{
    max-width:375px;
    background-image: url(../img/footer-elements-mobile-1x.png);
    background-repeat: no-repeat;
    background-position: center  top;
    padding-bottom: 50%;
    background-color: #1C2225;
    background-size: cover;
    
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px),
       screen and (min-resolution: 2dppx) and (min-width: 320px),
       screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
        .footer-bkg-img{
            background-image: url(./img/footer-elements-mobile-@2x.png);
       }
    }

/*@media screen and (min-width: 768px){
.text-maine{
    max-width: 768px;
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/retina-w/tablet.jpg");
   }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
       screen and (min-resolution: 2dppx) and (min-width: 768px),
       screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        
    }

@media screen and (min-width: 1158px){
    .text-maine{
        padding-top:188px ;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/retina-w/desktop.jpg");
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
       screen and (min-resolution: 2dppx) and (min-width: 1158px),
       screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
        .text-maine{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/retina-w/desktop@2x.jpg");
       }
    }*/


