.hero-star {
  display: none;
}
.small-ima {
  display: none;
}


.title-span {
  color: #ecd979;
}


    /*hero media screen and (min-width: 320px)*/

    
@media screen and (min-width: 320px) {

    /*частина с hero-title-parth-one*/
    .hero-title-parth-one{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;}

    .hero-star{display: none;}
    .small-ima{display: none;}

    .hero-title{display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}

.hero-text{
  width: 335px;
  color: #FCF9F9;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 122.727%; /* 122.727% */
  letter-spacing: -0.03em;}
  .title-span{color: #ECD979;
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.727%;
    letter-spacing: -0.003em;}

    .title-button{
    margin-top: 20px;
    display: flex;
    width: 154px;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    background-color: #1C2225;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;}

.title-button:hover,
.title-button:focus,
.title-button:active {
  border-radius: 15px;
  border: 1px solid var(--yellow, #ecd979);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .hero-image{
        margin-top:40px ;
        min-width: 335px;
        border-radius: 4px;
}


/*частина с hero-title-parth-one кінець*/ }

  /*hero media screen and (min-width: 320px) end */

    /*hero media screen and (min-width: 768px)*/
  
@media screen and (min-width:768px){

        /*частина с .hero-title-parth-zero кінець*/
.hero-title-parth-zero{
    display: flex;
  }

  
    .hero-title-parth-one {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    padding-top: 26px;
  }
  .hero-title {width: 549px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.hero-text{width: 549px;
  color: #FCF9F9;
  font-family: Manrope;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.519% ; /* 118.519% */
  letter-spacing: -0.03em;}
.title-span{font-family: Manrope;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.519% ; /* 118.519% */
  letter-spacing: -0.03em;}
  .title-button {
    margin-left: 143px;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: -0.04em;
  }

.hero-image{
  margin-top: 40px;
  width: 413px;}
/*частина с .hero-title-parth-zero кінець*/

    /*частина с .hero-title-parth-two кінець*/
.hero-title-parth-two{
   
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;}
    
  .hero-star{ 
  margin-left: 40px;
    max-width: 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;}
    .hero-startext
    {color: rgba(252, 249, 249, 0.40);
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.03em;}
      
        .small-ima {
          display: inherit;
          width: 139px;
          align-self: flex-end; /* Розмістити внизу контейнера */
        }
          
        }
        
    
        
      
        /*частина с .hero-title-parth-two кінець*/
        
      /*hero media screen and (min-width: 768px) end */

        /*hero media screen and (min-width: 1280pxpx)*/

@media screen and (min-width: 1280px){
    /*частина с hero-title-parth-one */ 

    .hero-title-parth-zero{
      display: flex;
        flex-direction: row;
      
    justify-content: space-between;}

        .hero-title-parth-one{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.hero-title{display: flex;
flex-wrap: wrap;
align-items: center;
}
   
.hero-text{width: 518px;
  color: #FCF9F9;
  font-family: Manrope;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.519% ; /* 118.519% */
  letter-spacing: -0.03em;}
  .title-span{ 
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.519% ; /* 118.519% */
    letter-spacing: -0.03em;}

    .title-button{
      margin: 0 auto;
    margin-top:40px ;
    display: flex;
    width: 168px;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.hero-image{
  margin-right: 40px;
  width: 392px;
  border-radius: 4px;
}
 /*частина с hero-title-parth-one кінець */ 

  /*частина с .hero-title-parth-two  */
  
  .hero-title-parth-two {
    min-width: 115px;
  } 
 .hero-title-parth-two {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.hero-star{   
margin: 0 ;

    width: 115px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  position: absolute;
    top: 0;}
    
.hero-startext{color: rgba(252, 249, 249, 0.40);
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.03em;}}

    /*частина с .hero-title-parth-two  кінець*/
  /*hero media screen and (min-width: 1280px) end */

    /*hero media screen and (min-width: 1440px)*/


@media screen and (min-width: 1440px){

  .hero-title-parth-zero {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

/*частина с  hero-title-parth-zero  i .hero-title-parth-one*/


    .hero-title-parth-one {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

      .hero-image{
        margin: 0;
        width: 392px;
        height: 545px;
        border-radius: 4px;}
  

    .hero-title{ display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
    align-items: center;}
.hero-text{margin-left: 40px;
  
    width: 632px;
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16; /* 115.625% */
    letter-spacing: -0.02em;}

    .title-span{color: #ECD979;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -0.03em;}


    .title-button{
    margin-top: 40px;
    display: flex;
    width: 168px;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: #1C2225;
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer; 
}
    .icon-btn{width: 26px;
    height: 10px;
    transform: rotate(-10deg);
}

.hero-title-parth-two {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
}
.hero-star{
  position: absolute;
  top:0;
  padding: 0;
    width: 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .hero-startext {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    line-height: normal;
    letter-spacing: -0.03em;
  }

  .small-ima {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 139px;
  }
}

@media screen and (min-width: 1280px) {
 

  .hero-image img {
    margin: 0;
    width: 392px;
  }

  .hero-star {
    padding-top: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    padding-top: 66px;
  }



  
}
