.testimonials-container {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .testimonials-container {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-container {
    padding-bottom: 150px;
  }
}

.testimonials-title {
  margin-bottom: 64px;

  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 44px;
    line-height: 1.46;
  }
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .testimonials-list {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-list {
    gap: 26px;
  }
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 54px 20px 18px 20px;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  position: relative;
}

.testimonials-item:not(:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {
  .testimonials-item {
    max-width: calc((100% - 32px) / 2);
  }

  .testimonials-item:nth-child(2) {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-item {
    max-width: calc((100% - 52px) / 3);
  }

  .testimonials-item:nth-child(3) {
    display: flex;
  }
}

.testimonials-images {
  position: absolute;
  top: -24px;
  margin-bottom: -10px;
}

.testimonials-subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.testimonials-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .testimonials-text {
    font-size: 16px;
  }
}
